.admin-dashboard {
  .table {
    th {
      background-color: $primary;
      color: white;
    }
    td {
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .btn {
    margin-right: 0.5rem;
  }
}